@mixin button {
  transition: all 0.5s;

  outline: none;
  border: none;
  font-size: 18px;
  padding: 5px;
  background-color: $c-normal;
  color: white;
  z-index: 1;
  &:hover {
    background-color: white;
    color: $c-normal;
  }
}
