.book {
  border-radius: 5px;
  z-index: 1;
  background-color: rgb(103, 103, 250);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: stretch;
  position: relative;
  p {
    color: wheat;
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
  }
  box-sizing: border-box;
  border: solid 2px $c-normal;
  max-width: 200px;
  max-height: 300px;
  img {
    transition: all 0.4s;
    display: block;
    margin: 5px auto;
    width: 100px;
    height: 150px;
    &:hover {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
    }
  }
  hr {
    margin: 2px auto;
    width: 100%;
  }
  button {
    transition: all 0.5s;

    top: 5%;
    right: 10%;
    outline: none;
    border: none;
    font-size: 14px;
    padding: 5px;
    background-color: $c-normal;
    color: white;
    &:hover {
      background-color: white;
      color: $c-normal;
      cursor: pointer;
    }
  }
}
