.cart {
  h1 {
    text-align: center;
    color: whitesmoke;
    text-shadow: 0 0 3px #ff0000;
    margin: auto;
  }
  border: solid 1px $c-normal;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 10px;
  box-sizing: border-box;
  padding: 10px;
  flex-wrap: wrap;
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 50px;
  background-color: $c-background;
  width: 1000px;
  height: 500px;

  &_item {
    box-sizing: border-box;
    padding:5px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: stretch;
    font-size: 10px;
    max-width: 15%;
    max-height: 60%;
    border: solid 1px $c-normal;
    position: relative;
    button {
      @include button;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 10%;
      font-size: 12px;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 80%;
      max-height: 60%;
    }
    p {
      margin: 5px auto;
      text-align: center;
    }
  }
  &_button_next {
    position: absolute;
    bottom: 10px;
    right: 10px;
    @include button;
  }
  &_button_close {
    @include button;
    position: absolute;
    bottom: 10px;
    right: 70px;
  }
}
