#root {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 199, 191);
}

.header {
  position: relative;
  h1 {
    text-align: center;
    color: whitesmoke;
    text-shadow: 0 0 3px #ff0000;
  }
  button {
    transition: all 0.5s;
    position: fixed;
    top: 5%;
    right: 10%;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 5px;
    background-color: $c-normal;
    color: white;
    z-index: 2;
    &:hover {
      background-color: white;
      color: $c-normal;
    }
  }
}
.main__wrapper {
  background-color: $c-background;
  margin: 20px auto;
  transition: all 1s;
  position: relative;

  max-width: 80%;
  height: 100%;

  &--books {
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}
