.summary {
  width: 1000px;
  height: 500px;
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 50px;

  background-color: $c-background;
  border: solid 2px $c-normal;
  h1 {
    text-align: center;
    color: whitesmoke;
    text-shadow: 0 0 3px #ff0000;
  }
  p {
    color: $c-white;
    text-align: center;
    strong {
      text-shadow: 0 0 3px #666666;
      text-decoration: underline;
    }
  }
  .summary_input {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: $c-normal;
  }
  .summary_submit {
    @include button;
    margin: 5px auto;
    display: block;
  }
  button {
    @include button;
    margin: 5px auto;
    display: block;
  }
}

.error {
  background-color: rgb(255, 159, 159);
}
